div{
    background-color: rgb(247, 247, 247);
}

img{
    height: 40px;
    width: 40px;
}

.user-details{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: x-large;
    font-weight: 700
}

.user-details:hover{
    background-color: grey;
}